.page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

main {
  flex: 8;

  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  flex: 7;
  background: #835afd;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 120px 80px;

  img {
    max-width: 320px;
  }

  strong {
    font: 700 36px "Poppins";
  }
}

h2{
    font-size: 24px;
    margin: 64px 0 24px;
    font-family: 'Poppins', sans-serif;
}

p {
  font-size: 14px;
  line-height: 32px;
  margin-top: 16px;
  color: #735380;

  a {
    text-decoration: none;
    color: #ee00e0;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items: stretch;
  text-align: center;

  h1{
    color: #222;
  }

  > img {
    align-self: center;
  }

  form {
    input {
      height: 56px;
      border-radius: 8px;
      padding: 0 16px;
      background: #fff;
      border: 1px solid #ababa3;
    }

    button {
      margin-top: 16px;
    }

    button,
    input {
      width: 100%;
    }
  }

  .create-room {
    margin-top: 64px;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ea4335;
    color: #fff;
    transition: all 0.2s ease-in-out;
    padding: 1rem;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
      filter: brightness(0.9);
    }

    > img {
      margin-right: 0.8rem;
    }
  }
}
